<footer>
    <div class="foot-bar">
        <div class="foot-logo">
            <a routerLink=""><img src="assets/images/svg/logo.svg" alt="Logo EBS Portões"></a>
            <p>© 2024 EBS Portões</p>
            <p>Todos os direitos resevados</p>
        </div>
        <div class="foot-about">
            <h3>Sobre Nós</h3>
            <p>A EBS Portões é especializada na fabricação, reforma, instalação e manutenção de portões de alta
                qualidade. Fundada em 2024, nossa missão é oferecer soluções seguras e duráveis para residências e
                empresas, sempre com foco na satisfação do cliente.</p>
        </div>
        <div class="foot-contact">
            <h3>Atendemos toda a região de São Paulo</h3>
            <div class="foot-list">
                <img src="assets/images/svg/whatsapp-icon.svg" alt="icone whatsapp">
                <p><strong>Fale no Whatsapp ou Ligue</strong> <br> (11) 95803-4830</p>
            </div>
            <div class="foot-list">
                <img src="assets/images/svg/email-icon.svg" alt="icone whatsapp">
                <p><strong>Envie um e-mail</strong> <br> ebsportoes4&commat;gmail.com</p>
            </div>
            <div class="foot-list">
                <img src="assets/images/svg/location-icon.svg" alt="icone whatsapp">
                <p>Rua Maceió, 175 - Jardim Oratório, 09381-100</p>
            </div>
            <div class="foot-list">
                <p><strong>Horário de Atendimento</strong> <br> Segunda e Sexta das 09h às 18h30 e Sábado das 09h às 14h. <br> Exceto domingos e feriados.</p>
            </div>
        </div>
    </div>
</footer>