<header>
  <nav class="nav-bar">
    <div class="logo">
      <a routerLink="/">
        <picture>
          <img src="assets/images/svg/logo.svg" alt="Logo EBS Portões" />
        </picture>
      </a>
    </div>
    <div class="nav-list">
      <ul>
        <li class="nav-item">
          <a routerLink="/" class="nav-link">Inicio</a>
        </li>
        <li class="nav-item">
          <a routerLink="about" class="nav-link">Sobre Nós</a>
        </li>
        <li class="nav-item">
          <a routerLink="products" class="nav-link">Serviços</a>
        </li>
        <li class="nav-item">
          <a routerLink="contact" class="nav-link">Contato</a>
        </li>
      </ul>
    </div>
    <div class="mobile-menu-icon">
      <button (click)="toggleMenu()" #menuButton>
        <img
          class="icon"
          src="assets/images/svg/menu_white.svg"
          alt="botão para abrir o menu"
          [ngClass]="{ open: isMenuOpen }"
        />
      </button>
    </div>
  </nav>
  <div class="mobile-menu" [ngClass]="{ open: isMenuOpen }" #menu>
    <ul>
      <li class="nav-item">
        <a routerLink="/" class="nav-link">Inicio</a>
      </li>
      <li class="nav-item">
        <a routerLink="about" class="nav-link">Sobre Nós</a>
      </li>
      <li class="nav-item">
        <a routerLink="products" class="nav-link">Produtos</a>
      </li>
      <li class="nav-item">
        <a routerLink="contact" class="nav-link">Contato</a>
      </li>
    </ul>
  </div>
</header>
