header {
    background-color: var(--medium-grey);
    box-shadow: 0px 3px 10px #000000;
    width: 100vw;
    position: -webkit-sticky;
    /* Necessário para funcionar no Safari */
    position: sticky;
    top: 0;
    z-index: 10;
  }
  
  .nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 6rem;
    width: 100%;
  }
  
  .logo {
    display: flex;
    align-items: center;
  }
  
  .logo img {
    max-width: 100%;
  }
  
  .nav-list {
    display: flex;
    align-items: center;
  }
  
  .nav-list ul {
    display: flex;
    justify-content: center;
    list-style: none;
  }
  
  .nav-item {
    margin: 0 2rem;
  }
  
  .nav-link {
    text-decoration: none;
    font-size: 1.5rem;
    color: var(--white);
    font-weight: 400;
  }
  
  .nav-link:hover {
    color: #7765f0;
    transition: 0.2s;
  }
  
  .mobile-menu-icon {
    display: none;
  }
  
  .mobile-menu {
    display: none;
  }
  
  .mobile-menu.open {
    display: block;
  }
  
  @media (max-width: 1150px) {
    .nav-bar {
      padding: 1.5rem 4rem;
    }
  
    .nav-item {
      display: none;
    }
  
    .mobile-menu-icon {
      display: block;
    }
  
    .mobile-menu-icon button {
      background-color: transparent;
      border: none;
      cursor: pointer;
    }
  
    .display-mobile-menu {
      display: flex;
      width: 100%;
    }
  
    .mobile-menu ul {
      display: flex;
      flex-direction: column;
      text-align: center;
      padding-bottom: 1rem;
    }
  
    .mobile-menu .nav-item {
      display: block;
      padding-top: 1.2rem;
    }
  
    .mobile-menu {
      display: block;
      padding: 1rem 2rem;
    }
  
    .mobile-menu button {
      width: 100%;
    }
  
    .open {
      display: block;
    }
  }
  
  @media (max-width: 630px) {
    .logo {
      width: 180px;
      height: 36px;
    }
  
    .nav-bar {
      padding: 1.5rem 2rem;
    }
  
    .index-buttons {
      flex-direction: column;
    }
  }