<div class="container">
  <h1>Modelos de Portão</h1>
  <div class="content">
    <div class="features">
      <div class="feature-item">
        <h2>Portões em Aço Galvanizado</h2>
        <p>
          Portões de aço galvanizado têm a seu favor o custo e a possibilidade
          de pintar e finalizar o produto com praticamente qualquer cor.
        </p>
      </div>
      <div class="feature-item">
        <h2>Portões Automáticos</h2>
        <p>
          Oferecemos portões automáticos que proporcionam conveniência e
          segurança. Equipados com motores de alta qualidade que permitem uma
          operação suave e eficiente.
        </p>
      </div>
      <div class="feature-item">
        <h2>Tempo de Abertura</h2>
        <p>
          Utilizamos motor PPA, que permite a abertura do seu portão em 5 e 9
          segundos;
        </p>
      </div>
    </div>
    <div class="image">
      <img src="/assets/images/svg/models-image.svg" alt="Modelos de Portão" />
    </div>
  </div>
</div>
