<div class="about">
    <div class="container">
      <h1>Quem Somos?</h1>
      <div class="text">
        <p>
          A EBS Portões é especializada na fabricação, reforma, instalação e
          manutenção de portões de alta qualidade. Fundada em 2024, nossa missão é
          oferecer soluções seguras e duráveis para residências e empresas, sempre
          com foco na satisfação do cliente.<br />
          <br />
          Estamos situados em Mauá, próximo ao Rodoanel Mario Covas, o que
          facilita a distribuição e proporciona agilidade tanto para instalação
          quanto para manutenção dos nossos portões.<br />
          <br />
          Fabricamos portões em aço galvanizado, incluindo modelos basculantes,
          deslizantes, automáticos (automatizados) e de garagem manuais. Atendemos
          toda a região de São Paulo, incluindo a capital e áreas metropolitanas,
          garantindo nossos serviços de alta qualidade.<br />
          <br />
          Nosso horário de atendimento é de segunda a sexta, das 09h às 18h30, e
          aos sábados, das 09h às 14h (exceto domingos e feriados).<br />
          <br />
          Para mais informações sobre nossos serviços e produtos, entre em contato
          conosco. Estamos aqui para ajudar a garantir a segurança e a
          durabilidade do seu patrimônio.
        </p>
      </div>
  
      <div class="content">
        <div class="features">
          <div class="feature-item">
            <div class="icon">
              <img
                src="../../../assets/images/svg/target-icon.svg"
                alt="icone de alvo"
              />
              <h2>Missão</h2>
            </div>
            <p>
              Oferecer soluções seguras e duráveis em portões, garantindo a
              satisfação dos nossos clientes através da qualidade e confiabilidade
              dos nossos produtos e serviços.
            </p>
          </div>
          <div class="feature-item">
            <div class="icon">
              <img
                src="../../../assets/images/svg/balance-icon.svg"
                alt="icone de balança"
              />
              <h2>Valores</h2>
            </div>
            <p>
              Qualidade, Segurança, Inovação, Integridade e Satisfação do Cliente.
            </p>
          </div>
          <div class="feature-item">
            <div class="icon">
              <img
                src="../../../assets/images/svg/binoculars-icon.svg"
                alt="icone de binoculos"
              />
              <h2>Visão</h2>
            </div>
            <p>
              Ser referência em fabricação, reforma, instalação e manutenção de
              portões em toda a região de São Paulo, reconhecida pela inovação,
              qualidade e excelência no atendimento ao cliente.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  