<section class="contact">
    <div class="container">
        <h1>Central de Atendimento</h1>
        <div class="content">
            <div class="features">
                <div class="feature-item">
                    <div class="icon">
                        <img src="/assets/images/svg/assurance-icon.svg" alt="icone de garantia">
                        <h2>Telefone</h2>
                    </div>
                    <p>Fabricamos portões duráveis com garantia, utilizando materiais e equipamentos de excelente
                        qualidade.</p>
                </div>
                <div class="feature-item">
                    <div class="icon">
                        <img src="/assets/images/svg/aftersales-icon.svg" alt="icone de pós venda">
                        <h2>E-mail</h2>
                    </div>
                    <p>Oferecemos suporte contínuo após a venda para garantir sua total satisfação.</p>
                </div>
                <div class="feature-item">
                    <div class="icon">
                        <h2>Horário de Atendimento</h2>
                    </div>
                    <p>Portões de alta qualidade a preços acessíveis, sem abrir mão da durabilidade e da segurança.</p>
                </div>
                <div class="feature-item">
                    <div class="icon">
                        <img src="/assets/images/svg/fastdelivery-icon.svg" alt="icone de entrega rápida">
                        <h2>Localização</h2>
                    </div>
                    <p>Entrega garantida em até 16 dias, cumprindo nossos prazos com eficiência.</p>
                </div>
            </div>
        </div>
    </div>
</section>