<section class="contact">
  <div class="container">
    <h1>Central de Atendimento</h1>
    <div class="content">
      <div class="features">
        <div class="feature-item">
          <div class="icon">
            <img
              src="assets/images/svg/phone-icon.svg"
              alt="icone de telefone"
            />
            <h2>Telefone</h2>
          </div>
          <p>Fale conosco no Whatsapp ou ligue: <br /><br />(11) 95803-4830</p>
        </div>
        <div class="feature-item">
          <div class="icon">
            <img
              src="assets/images/svg/email-icon.svg"
              alt="icone de e-mail"
            />
            <h2>E-mail</h2>
          </div>
          <p>
            Entre em contato conosco através do nosso e-mail comercial:<br /><br />
            ebsportoes4&commat;gmail.com
          </p>
        </div>
        <div class="feature-item">
          <div class="icon">
            <img
              src="assets/images/svg/calendar-icon.svg"
              alt="icone de agenda"
            />
            <h2>Horário de Atendimento</h2>
          </div>
          <p>
            Segunda a Sexta das 09h às 18h30 e aos Sábado das 09h às 14h.
            <br />
            Exceto Domingos e Feriados
          </p>
        </div>
        <div class="feature-item">
          <div class="icon">
            <img
              src="assets/images/svg/location-icon.svg"
              alt="icone de localização"
            />
            <h2>Localização</h2>
          </div>
          <p>
            Estamos localizados em Mauá, mas atendemos toda a região de São
            Paulo.
          </p>
        </div>
      </div>

      <div class="whatsapp-contact">
        <a
          href="https://wa.me/5511958034830?text=Olá,+EBS+Portões,%0A%0AGostaria+de+solicitar+um+orçamento+para+um+portão.+Aguardo+seu+retorno.%0A%0A(Qual+foi+seu+modelo+de+preferência?+nos+envie+o+código+correspondente)+"
          class="botao-wpp"
        >
          <img src="assets/images/png/whatsapp-icon.png" alt="" />
          whatsapp
        </a>
      </div>

      <div class="location-feature">
        <div class="location-item">
          <div class="icon">
            <img
              src="assets/images/svg/location-icon.svg"
              alt="icone de localização"
            />
            <h2>Nosso Endereço:</h2>
          </div>
          <p>Rua Maceió, 175 - Jardim Oratório, 09381-100</p>
        </div>
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3654.584308594706!2d-46.461774925709555!3d-23.655053565038944!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce6915ed595557%3A0x661f1e91d4aee63b!2sR.%20Macei%C3%B3%2C%20175%20-%20Jardim%20Oratorio%2C%20Mau%C3%A1%20-%20SP%2C%2009381-100!5e0!3m2!1spt-BR!2sbr!4v1720192284481!5m2!1spt-BR!2sbr"
          width="100%"
          height="500"
          style="border-radius: 25px"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"
        ></iframe>
      </div>
    </div>
  </div>
</section>
