<section class="contact">
  <div class="container">
    <h1>Central de Atendimento</h1>
    <div class="content">
      <div class="features">
        <div class="feature-item">
          <div class="icon">
            <img
              src="../../../../assets/images/svg/phone-icon.svg"
              alt="icone de telefone"
            />
            <h2>Telefone</h2>
          </div>
          <p>Fale conosco no Whatsapp ou ligue: <br /><br />(11) 95803-4830</p>
        </div>
        <div class="feature-item">
          <div class="icon">
            <img
              src="../../../../assets/images/svg/email-icon.svg"
              alt="icone de e-mail"
            />
            <h2>E-mail</h2>
          </div>
          <p>
            Entre em contato conosco através do nosso e-mail comercial:<br /><br />
            ebsportoes4&commat;gmail.com
          </p>
        </div>
        <div class="feature-item">
          <div class="icon">
            <h2>Horário de Atendimento</h2>
          </div>
          <p>
            Segunda a Sexta das 09h às 18h30 e aos Sábado das 09h às 14h.
            <br />
            Exceto Domingos e Feriados
          </p>
        </div>
        <div class="feature-item">
          <div class="icon">
            <img
              src="../../../../assets/images/svg/location-icon.svg"
              alt="icone de localização"
            />
            <h2>Localização</h2>
          </div>
          <p>
            Estamos localizados em Mauá, mas atendemos toda a região de São Paulo.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
