<div class="catalog-container">
    <h1>Catálogo</h1>
    <p>A EBS Portões oferece diversos modelos de portões para sua escolha. Também fabricamos portões personalizados
        conforme seu projeto.</p>
    <p>Selecione o modelo de sua preferência, anote o código correspondente e <u>entre em contato conosco para solicitar
            um orçamento.</u></p>
    <div class="whatsapp-contact">
        <a  href="https://wa.me/5511958034830?text=Olá,+EBS+Portões,%0A%0AGostaria+de+solicitar+um+orçamento+para+um+portão.+Aguardo+seu+retorno.%0A%0A(Qual+foi+seu+modelo+de+preferência?+nos+envie+o+código+correspondente)+"
        class="botao-wpp">
            <img src="assets/images/png/whatsapp-icon.png" alt="">
            whatsapp
        </a>
    </div>
    <h2>Nossos Modelos</h2>
    <div class="model-grid">
        <div class="model-item">
            <img src="assets/images/svg/portao-image.svg" alt="EBS 01">
            <p>EBS 01</p>
        </div>
        <div class="model-item">
            <img src="assets/images/svg/portao-image.svg" alt="EBS 02">
            <p>EBS 02</p>
        </div>
        <div class="model-item">
            <img src="assets/images/svg/portao-image.svg" alt="EBS 03">
            <p>EBS 03</p>
        </div>
        <div class="model-item">
            <img src="assets/images/svg/portao-image.svg" alt="EBS 04">
            <p>EBS 04</p>
        </div>
        <div class="model-item">
            <img src="assets/images/svg/portao-image.svg" alt="EBS 04">
            <p>EBS 05</p>
        </div>
        <div class="model-item">
            <img src="assets/images/svg/portao-image.svg" alt="EBS 04">
            <p>EBS 06</p>
        </div>
        <div class="model-item">
            <img src="assets/images/svg/portao-image.svg" alt="EBS 04">
            <p>EBS 07</p>
        </div>
        <div class="model-item">
            <img src="assets/images/svg/portao-image.svg" alt="EBS 04">
            <p>EBS 08</p>
        </div>
        <div class="model-item">
            <img src="assets/images/svg/portao-image.svg" alt="EBS 04">
            <p>EBS 09</p>
        </div>
        <div class="model-item">
            <img src="assets/images/svg/portao-image.svg" alt="EBS 04">
            <p>EBS 10</p>
        </div>
    </div>
</div>