<div class="catalog-container">
  <h1>Catálogo</h1>
  <p>
    A EBS Portões oferece diversos modelos de portões para sua escolha. Também
    fabricamos portões personalizados conforme seu projeto e realizamos manutenção especializada.
  </p>
  <p>
    Selecione o modelo de sua preferência, anote o código correspondente e
    <u>entre em contato conosco para solicitar um orçamento.</u>
  </p>
  <div class="whatsapp-contact">
    <a
      href="https://wa.me/5511958034830?text=Olá,+EBS+Portões,%0A%0AGostaria+de+solicitar+um+orçamento+para+um+portão.+Aguardo+seu+retorno.%0A%0A(Qual+foi+seu+modelo+de+preferência?+nos+envie+o+código+correspondente)+"
      class="botao-wpp"
    >
      <img src="assets/images/png/whatsapp-icon.png" alt="" />
      whatsapp
    </a>
  </div>
  <h2>Nossos Modelos</h2>
  <div class="model-grid">
    <div class="model-item" *ngFor="let model of models">
      <img [src]="model.imageUrl" alt="{{model.name}}" (click)="openImageModal(model.imageUrl)" />
      <p>{{ model.name }}</p>
    </div>   
  </div>
</div>
