<section class="why-ebs">
  <div class="container">
    <h1>Por que escolher a EBS?</h1>
    <div class="content">
      <div class="image">
        <img src="/assets/images/svg/house-gate.svg" alt="EBS Portão" />
      </div>
      <div class="features">
        <div class="feature-item">
          <div class="icon">
            <img
              src="/assets/images/svg/assurance-icon.svg"
              alt="icone de garantia"
            />
            <h2>Garantia de Qualidade</h2>
          </div>
          <p>
            Fabricamos portões duráveis com garantia, utilizando materiais e
            equipamentos de excelente qualidade.
          </p>
        </div>
        <div class="feature-item">
          <div class="icon">
            <img
              src="/assets/images/svg/aftersales-icon.svg"
              alt="icone de pós venda"
            />
            <h2>Atenção Pós-Venda</h2>
          </div>
          <p>
            Oferecemos suporte contínuo após a venda para garantir sua total
            satisfação.
          </p>
        </div>
        <div class="feature-item">
          <div class="icon">
            <img
              src="/assets/images/svg/price-icon.svg"
              alt="icone de preço acessível"
            />
            <h2>Preço Acessível</h2>
          </div>
          <p>
            Portões de alta qualidade a preços acessíveis, sem abrir mão da
            durabilidade e da segurança.
          </p>
        </div>
        <div class="feature-item">
          <div class="icon">
            <img
              src="/assets/images/svg/fastdelivery-icon.svg"
              alt="icone de entrega rápida"
            />
            <h2>Entrega Rápida</h2>
          </div>
          <p>
            Entrega garantida em até 16 dias, cumprindo nossos prazos com
            eficiência.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
